.header{
    background-color: #ad9ea0bb;
    width: 100% ;
    margin: 0;
    padding: 0;
    height: 5.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    font-size: 0.7rem;
    z-index: 1;
    
    &__container {
        /*color: whitesmoke;*/
        color: var(--textColor);
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    
        &__temp {
            font-size: 2.2rem;
            display: flex;
            /*gap: 0.09rem;*/
    
            &__sign {
                margin-left: 0.25rem;
            }
    
            &__celcius {
                font-weight: bold;
            }
        }
        
    }

    &__icon {
        font-size: 1rem;
    }
}
