.container {
    color: whitesmoke;
    margin-left: 0.5rem;
    margin-top: 0.2rem;

    &__temp {
        font-size: 2.2rem;
        display: flex;
        /*gap: 0.09rem;*/

        &__sign {
            margin-left: 0.25rem;
        }

        &__celcius {
            font-weight: bold;
        }
    }
    
}